<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ourfarm - {% block title %}{% endblock title%}</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.logolynx.com/images/logolynx/d9/d9919c041510c71109ff9bb7a42e2259.png">

  <!-- Custom fonts for this template-->
  <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/personalized.css')}}" rel="stylesheet">
  <style>
    .inline-notif {
      display: inline;
    }

    .link-button-notif {
      background: none;
    }
    .link-button-notif:focus {
      outline: none;
    }
    .link-button-notif:active {
      color:red;
    }
  </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('index')}}">
        <div class="sidebar-brand-icon fa-flip-horizontal" >
          <i class="fas fa-leaf"></i>
        </div>
        <div class="sidebar-brand-text mx-3">OurFarm</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      
      
      <!-- Divider -->
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        Feature
      </div>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}">
          <i class="fas fa-fw fa-home"></i>
          <span>Beranda</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('list_control')}}">
          <i class="fas fa-fw fa-cog"></i>
          <span>Daftar Perangkat</span></a>
      </li>
      
      <!-- Nav Item - Pages Collapse Menu -->

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <h2 class="display-5">{% block header %}{% endblock %}</h2>
          
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Notification -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Notification -->
                <span id="countnotif" class="badge badge-danger badge-counter"></span>
              </a>
              <!-- Dropdown - Notification -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Notifikasi
                </h6>
                <!-- start per item -->
                <div id="listnotif" class="overflow-auto">
                  <a class="dropdown-item d-flex align-items-center" href="">
                    <div class="mr-3"></div>
                    <div class="text-muted">Tidak ada notifikasi terbaru.</div>
                  </a>
                </div>
                <!-- end per item -->
                <!-- <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a> -->
              </div>
            </li>
            <!-- Notification Selesai -->

            
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <!-- TODO : Add ajax to load user from session -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{session['email']}}</span>
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#SettingsModal">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <!-- <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert {{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
          {{isi}}
          {% block content %}
          {% endblock  %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>&copy; OurFarm 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Yakin ingin keluar?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Pilih "Logout" di bawah ini jika kamu siap untuk mengakhiri sesi ini.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{{url_for('logout')}}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="SettingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pengaturan Akun</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('post_raspi')}}" method="post">
            <input type="hidden" name="email" value="{{session['email']}}">
          <div class="col-sm-12 mb-3 mb-sm-1">
            <label for="password">Password Baru : </label>
            <input name="password" type="password" class="form-control form-control-user" id="password" placeholder="Masukkan password baru">
          </div>
          <!-- <div class="col-sm-12 mb-3 mb-sm-1">
            <label for="id_user">User ID : </label>
            <input name="id_user"type="text" class="form-control form-control-user" id="id_user" placeholder="Masukkan User ID baru" value="">
          </div> -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">Simpan Perubahan</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script>
    const url_notified ="{{url_for('api_notif',id='')}}"+"{{session['iduser']}}";
    function notif_dashboard(id){
      return "{{url_for('api_notif',id='')}}"+id;
    }
  </script>
  <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/custom/notification.js')}}"></script>

  <!-- Page level plugins -->
  {% block scripts %}
  <!-- <script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script> -->
  {% endblock %}
  

  <!-- Page level custom scripts -->
  


</body>

</html>
