{% extends "base/master.html" %}

      <!-- Main Content -->
     

        <!-- Begin Page Content -->
        <div>
        {% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Control {{id}}</h1>
          
          <!-- Conten -->
         
          <!-- tabel -->
          
        {% endblock content %}
        <!-- /.container-fluid -->
      </div>
      
      <!-- End of Main Content -->

  {% block scripts %}
  <!-- Page level plugins -->
  <script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/datatables/jquery.dataTables.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
  

  <!-- Page level custom scripts -->
  <script src="{{url_for('static', filename='js/demo/chart-bar-demo.js')}}"></script>
  <script src="{{url_for('static', filename='js/demo/datatables-demo.js')}}"></script>
  {% endblock scripts %}
