{% extends "base/master.html" %}

      <!-- Main Content -->
     

        <!-- Begin Page Content -->
        <div>
        {% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">{{data.nama}} - {{data.id_arduino}} |
            <a href="{{url_for('dashboard', id=data.id_arduino)}}" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
              </span>
              <span class="text">go to Dashboard</span>
            </a>
              <!-- <a href="" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Control</a> -->
          
          </h1>
          
          <div class="card row mt-5">
              <div class="card-header">
                <div class=" text-center">
                  <i class="fas fa-leaf"></i>
                  <h4 class="text-gray-900">Control Arduino id-{{data.id_arduino}}</h4>
                  <h5 class="text-gray-900 mb-1">{{data.nama}}</h5>
                </div> 
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6 col-sm-6 pl-5">
                    <form action="" method="post">
                      <label for="pumpControl">Pump Control Mode</label>
                      <div id="pumpControl">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                          <label class="custom-control-label text-gray-800" for="customRadio1">Default (Otomatis)</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                          <label class="custom-control-label text-gray-800" for="customRadio2">Scheduled</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                          <label class="custom-control-label text-gray-800" for="customRadio3">Stay On</label>
                        </div>
                        <div class="custom-control custom-radio">
                          <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                          <label class="custom-control-label text-gray-800" for="customRadio4">Stay Off</label>
                        </div>
                      </div>
                      </form>
                  </div>
                  <div class="col-lg-6 col-sm-6 pr-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsam nulla quasi eligendi tempore! Velit fugiat, aperiam corporis est quam vero ipsam commodi exercitationem reprehenderit? Possimus, iure. Ipsum, a at?
                  </div>
                </div>
                
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-6 pl-5 pt-3">
                    <h4>Kondisi di Arduino</h4>
                  </div>
                  <div class="col-6 pr-5">
                    perintah : <span id="perintah" class="float"></span> 
                    <br>
                    status : <span id="status" class="float"></span>
                  </div>
                </div>
              </div>
              
            
            <!-- <div class="col-lg-3 "></div> -->
          </div>
          <!-- Conten -->
         
          <!-- tabel -->
          
        {% endblock content %}
        <!-- /.container-fluid -->
      </div>
      
      <!-- End of Main Content -->

  {% block scripts %}
  <!-- Page level plugins -->
  <script>
    /**
         * harusnya untuk data di bawah cukup akses api, jadi dari flask / controller ga perlu masukin lagi data di render template
         * Javascript -> get(api)->data disimpan ke variable local
         */
    const id_arduino="{{data.id_arduino}}";
    const id_user="{{data.id_user}}";
    const api_control_url="{{url_for('api_data_node',id=data.id_arduino)}}";
    const api_queue_url="{{url_for('api_queue_control')}}";
    const perintah={{data.perintah}};
    const sync_control_get="https://bwcr.rizaldiariif.com/public/api/control/update/"+"{{data.id_user}}"+"/garden/"+id_arduino;
  </script>
  <script src="{{url_for('static', filename='js/custom/control_node.js')}}"></script>
  

  <!-- Page level custom scripts -->
  
  {% endblock scripts %}
