{% extends "base/master.html" %}

  <!-- Main Content -->
  <!-- Begin Page Content -->
  {% block title %}Beranda{% endblock title%}
  {% block header%}Beranda{% endblock %}
  <div>
  {% block content %}
   
    <div class="row mt-2 card shadow">
      <h1 class="text-center card-header text-white bg-success">
        <b>Panduan Memulai</b>
      </h1>
      <div class="col-md-12 animated--fade-in card-body">
        <ol>
          <li>
            Hubungkan perangkat ini dengan WiFi
          </li>
          <li>
            Kunjungi <b><a rel="noopener noreferrer" href="https://bwcr.insightdata.xyz" target="_blank">bwcr.insightdata.xyz</a></b> untuk melakukan <b>Registrasi</b> 
          </li> 
          <li>Tambah Perangkat jenis <b>"Taman"</b> di menu <b><a rel="noopener noreferrer" href="https://bwcr.insightdata.xyz/device" target="_blank">Arduino - Tambah Perangkat</a></b>   dengan keterangan sebagai berikut : <br>
            <code> 
            <ul> 
              <li>Alamat IP : <b><mark>{{ip}}</mark></b> </li>
              <li>Device Type : <b><mark>Garden</mark></b></li>
              <li>SSID WiFi : <b><mark>"nama WiFi anda yang tersambung dengan perangkat ini"</mark></b></li>
              <li>Password WiFi : <b><mark>"password WiFi anda tersambung dengan perangkat ini"</mark></b></li>
            </ul>
          </code>
          </li>
          <li>
            Download dan install file.ino yang disediakan setelah menambah perangkat pada arduino yang akan digunakan!
          </li>
          <li>
            Salin User ID pada bagian card Setup di bawah fitur download file.ino dan tempelkan di form bawah ini
              <div class="form-group row">
                <div class="col-lg-4 pt-1">
                  <input value="{{id_user}}" type="text" class="form-control" id="userID" placeholder="Masukkan User ID - tidak boleh kosong" readonly>
                </div>
                <div class="col-lg-2 pt-1">
                  <button id="change" class="btn btn-outline-success">Ubah User ID</button>
                  <button id="save" class="btn btn-outline-success" hidden="true">Simpan </button>
                </div>
                <!-- test -->
                <div class="toast border-0 bg-transparent shadow-none" role="alert" >
                  <a href="#" class="btn btn-success btn-circle">
                    <i class="fas fa-check"></i>
                </a>
                  <!-- <div class="toast-body alert-success pt-1">
                    User ID Tersimpan. 
                  </div> -->
                </div>
              </div>
          </li>
          <li>
            Hubungkan arduino dengan aliran listrik, tunggu sampai alat mengirim data (cek <b><a href="/control"> di sini</a></b>).
          </li>
        </ol>
      </div>
      
    </div>
    <!-- Conten -->
     
  
    
  {% endblock content %}
  <!-- /.container-fluid -->
  </div>

  <!-- End of Main Content -->

  {% block scripts %}
  <!-- Page level plugins -->
  <script>
    const email = "{{session['email']}}"
    const post_userid="{{url_for('register')}}";
  </script>
  <script src="{{url_for('static', filename='js/custom/home.js')}}"></script>
  

  <!-- Page level custom scripts -->
  
  {% endblock scripts %}
