{% extends "base/master.html" %}

      <!-- Main Content -->
     {% block title %}
     Daftar Perangkat
     {% endblock %}
  {% block header %}
  Perangkat
  {% endblock %}
        <!-- Begin Page Content -->
        <div>
        {% block content %}
          
          <div  id="listcontrol" class="row">
            <div class="col-md-12 animated--fade-in">
              <h3 class="text-center mt-5">
               <b>Menunggu perangkat tersambung . . . </b>
              </h3>
              <div class="d-flex justify-content-center">
                <div class="spinner-grow text-success" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Conten -->
         
       
          
        {% endblock content %}
        <!-- /.container-fluid -->
      </div>
      
      <!-- End of Main Content -->

  {% block scripts %}
  <!-- Passing data to JS -->
  <script>
    var url_list_control="{{url_for('api_list_control',userid='')}}"+"{{session['iduser']}}";
    
    function page_dashboard(arduinoid){
      return "{{url_for('dashboard',arduinoid='')}}"+arduinoid;
    }
    function page_control(arduinoid){
      return "{{url_for('page_control',arduinoid='')}}"+arduinoid;
    }

    var delete_api_url = "{{url_for('delete_api_data')}}";
    
  </script>
  <!-- Page level plugins -->
  
  <!-- Page level custom scripts -->
  
  <script src="{{url_for('static', filename='js/custom/list_control.js')}}"></script>
  {% endblock scripts %}
